
#map_canvas {
	width: 875px;
	height: 500px;
	/*display: none;*/
}

#error_message {
	display: none;
	background-color: red;
	font-weight: bold;
	font-color: white
}

#center_address_error, #addresses_error {
	display: none;
	background-color: red;
	font-weight: bold;
	font-color: white
	padding-left: 5px;
	padding-right: 5px;
}

form {
	padding-top: 20px;
}

textarea {
	width: 875px;
	height: 200px;
}

#map_content {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 875px;
	font-family: Verdana;
	font-size: 12px;
	font-color: #333333
}